<div class="row">
  <div class="col-md-6">
    <h3>Day 1, Sep. 14</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2, Sep. 21</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3, Sep. 28</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Building programs with Python: Part I</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4, Oct. 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Building programs with Python: Part II</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
