<div class="row">
  <div class="col-md-6">
    <h3>Day 1, Sep. 13</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://acenet-arc.github.io/shell-novice/">Automating tasks with the Unix shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2, Sep. 20</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://acenet-arc.github.io/git-novice/">Version control with Git</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3, Sep. 27</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://acenet-arc.github.io/python-novice-inflammation/">Building programs with Python: Day 1</a>. Precise lesson plan may vary at the instructor's discretion.</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4, Oct. 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://acenet-arc.github.io/python-novice-inflammation/">Building programs with Python: Day 2</a>. Precise lesson plan may vary at the instructor's discretion.</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
